 h2{
 text-align: center;
 
 }
 
 .ice {
  background-color: #8f9dd7;
   transform: translate(0%, 7.8%);
}

.nana{
	padding-top:100px;
}
.meal input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}

.meal input[type=submit] {
 
  width: 400px;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left:10%;
}

.meal input[type=submit]:hover {
  background-color: #45a049;

}

.meal, .meal1, .meal2, .area div {
  border-radius: 3px;
  background-color:#778899;
  padding: 20px;
  width: 40%;
  height:20%;
  margin-left: 29%;
}



.button {
  background-color: #000040;
  border-radius:10px;
  color: white;
  padding: 16px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left:40%;
  text-transform:uppercase;
  font-weight:400;
}

.button:hover {
  background-color:#000000;
  color: white;
}  

.hallss{
	
	 position: absolute;
     top: 40px;
     right: 50px;
     width:300px;
     font-family: verdana;
} 

.hallss ul li {
  background: #b0c4de;
  padding: 0.5px;
  margin-left: 35px;
}


.hallss ul {
  background: #778899;
  padding: 20px;
}

    

.zara{
	 position: absolute;
     top: 390px;
     right: 80px;
     background-color:#c0c0c0;
	
	
}


p{
	
	text-align: center;
	

}




