@charset "ISO-8859-1";
 @import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

.thaksa {
     font-family: 'Open Sans', sans-serif;
     color: #353535;
     background-image: linear-gradient(to right top, #0c0c0c, #2a2c2d, #474d4d, #68706c, #91948b);
 }



 .customcheckbox {
     display: block;
     position: relative;
     padding-left: 24px;
     font-weight: 100;
     margin-bottom: 12px;
     cursor: pointer;
     font-size: 22px;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none
 }

 .customcheckbox input {
     position: absolute;
     opacity: 0;
     cursor: pointer
 }

 .checkmark {
     position: absolute;
     top: -3px;
     left: 0;
     height: 20px;
     width: 20px;
     background-color: #CDCDCD;
     border-radius: 6px
 }

 .customcheckbox input:checked~.checkmark {
     background-color: #2196BB
 }

 .customcheckbox .checkmark:after {
     left: 8px;
     top: 4px;
     width: 5px;
     height: 10px;
     border: solid white;
     border-width: 0 3px 3px 0;
     -webkit-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     transform: rotate(45deg)
 }
 
 .scroll{
	
	height: 400px; 
    overflow-x: hidden; 
    overflow-y: auto; 
    text-align:justify; 
}