#customers {
	margin-left: 5%;
	width: 90%
}

.acbt {
	padding-top: 100px;
}

customers.inset {
	border-style: inset;
}

#customers td, #customers th {
	border: 0 px solid #ffffff;
	padding: 10px;
}

#customers tr:nth-child(odd) {
	background-color: #c0c0c0;
}

#customers tr:nth-child(even) {
	background-color: #c0c0c0;
}

#customers tr:hover {
	background-color: #808080;
	color: white;
}

#customers th {
	padding-top: 20px;
	padding-bottom: 10px;
	text-align: left;
	background-color: #000000;
	color: white;
	font-size: 18px;
}

