@charset "ISO-8859-1";
	.a{
	    background-image: url("../images/Starter1.jpg");
	    background-position: center; /* Center the image */
  	    background-repeat: no-repeat; /* Do not repeat the image */
  	    background-size: cover; /* Resize the background image to cover the entire container */
		height:600px;
		width:33%;
		float: left;
	}
	
	
	.b{
		background-image: url("../images/Starter2.jpg");
	    background-position: center; /* Center the image */
  	    background-repeat: no-repeat; /* Do not repeat the image */
  	    background-size: cover; /* Resize the background image to cover the entire container */
		height:600px;
		width:33%;
		float: left;
	}
	
	.c{
		background-image: url("../images/Starter3.jpg");
	    background-position: center; /* Center the image */
  	    background-repeat: no-repeat; /* Do not repeat the image */
  	    background-size: cover; /* Resize the background image to cover the entire container */
		height:600px;
		width:33%;
		float: left;
	}
	
	.d{
		background-image: url("../images/Rice1.jpg");
	    background-position: center; /* Center the image */
  	    background-repeat: no-repeat; /* Do not repeat the image */
  	    background-size: cover; /* Resize the background image to cover the entire container */
		height:600px;
		width:33%;
		float: left;
	}
	
	.e{
		background-image: url("../images/Rice2.jpg");
	    background-position: center; /* Center the image */
  	    background-repeat: no-repeat; /* Do not repeat the image */
  	    background-size: cover; /* Resize the background image to cover the entire container */
		height:600px;
		width:33%;
		float: left;
	}
	
	.f{
		background-image: url("../images/Rice3.jpg");
	    background-position: center; /* Center the image */
  	    background-repeat: no-repeat; /* Do not repeat the image */
  	    background-size: cover; /* Resize the background image to cover the entire container */
		height:600px;
		width:33%;
		float: left;
	}
	
	.g{
		background-image: url("../images/Sidedish1.jpg");
	    background-position: center; /* Center the image */
  	    background-repeat: no-repeat; /* Do not repeat the image */
  	    backgrund-size: cover; /* Resize the background image to cover the entire container */
		height:600px;
		width:50%;
		float: left;
	}
	
	.i{
		background-image: url("../images/Sidedish3.jpg");
	    background-position: center; /* Center the image */
  	    background-repeat: no-repeat; /* Do not repeat the image */
  	    background-size: cover; /* Resize the background image to cover the entire container */
		height:600px;
		width:50%;
		float: left;
	}
	
	.j{
		background-image: url("../images/Bread1.jpg");
	    background-position: center; /* Center the image */
  	    background-repeat: no-repeat; /* Do not repeat the image */
  	    background-size: cover; /* Resize the background image to cover the entire container */
		height:600px;
		width:50%;
		float: left;
	}
	
	.k{
		background-image: url("../images/Noodles.jpg");
	    background-position: center; /* Center the image */
  	    background-repeat: no-repeat; /* Do not repeat the image */
  	    background-size: cover; /* Resize the background image to cover the entire container */
		height:600px;
		width:50%;
		float: left;
	}
	
	.l{
		background-image: url("../images/Dessert1.jpg");
	    background-position: center; /* Center the image */
  	    background-repeat: no-repeat; /* Do not repeat the image */
  	    background-size: cover; /* Resize the background image to cover the entire container */
		height:600px;
		width:33%;
		float: left;
	}
	
	.m{
		background-image: url("../images/Dessert2.jpg");
	    background-position: center; /* Center the image */
  	    background-repeat: no-repeat; /* Do not repeat the image */
  	    background-size: cover; /* Resize the background image to cover the entire container */
		height:600px;
		width:33%;
		float: left;
	}
	
	.n{
		background-image: url("../images/Dessert3.jpg");
	    background-position: center; /* Center the image */
  	    background-repeat: no-repeat; /* Do not repeat the image */
  	    background-size: cover; /* Resize the background image to cover the entire container */
		height:600px;
		width:33%;
		float: left;
	}
	
.jii {
    
    font-family: 'Open Sans', sans-serif;
    background-color: #000;
}

.lib-panel {
    margin-bottom: 20Px;
}

.lib-panel img {
    width: 100%;
    background-color: transparent;
    
}

.lib-panel .row,
.lib-panel .col-md-6 {
    padding: 0;
    background-color: #FFFFFF
}

.lib-panel .lib-row {
    padding: 0 20px 0 20px
}

.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 20px;
    padding: 10px 20px 0 20px
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #d9d9d9;
    margin: 7px 0 7px 0
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 13px
}

.lib-panel .lib-row.lib-desc a {
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px
}

.row-margin-bottom {
    margin-bottom: 20px
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .10);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .10)
}

.no-padding {
    padding: 0
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.lib-panel:hover{
  opacity: 0.3;
  
}

.middle:hover {
  opacity: 1;
}