 h2{
 text-align: center;
 
 }

.nana{
	padding-top:100px;
	
}
	
.repp {
  background-color: #8f9dd7;
  
}	
	

.meal input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}

.meal input[type=submit] {
 
  width: 400px;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left:10%;
}

.meal input[type=submit]:hover {
  background-color: #45a049;

}

.meal, .meal1, .meal2, .area div {
  border-radius: 3px;
  background-color: #B0C4DE;
  padding: 20px;
  width: 40%;
  height:10%;
  margin-left: 30%;
  text-align: left;
  color: #000080;
  font-weight: bold;
  font-size: 120%;
 font-family: BodoniStd-BookItalic,serif;
}



.zac {

  border-radius:10px;
  padding: 16px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left:38%;
  text-transform:uppercase;
  font-weight:400;
}

