@charset "ISO-8859-1";

h2{
 text-align: center;
 
 }

.Department input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}

.Fname input[type=submit] {
 
  width: 400px;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left:10%;
}

.Fname input[type=submit]:hover {
  background-color: #45a049;

}

.Fname, .Lname, .Nic, .Email, .DOB, .Contact, .Address, .Department, .Designation div {
  border-radius: 3px;
  background-color: #B0C4DE;
  padding: 20px;
  width: 70%;
  margin-left: 16%;
}
